:root {
    --color-primary: #057E6C;
    --color-primary-light: #09a38c;
    --color-primary-dark: #196b5b;

    --color-secondary: #bbb;
    --color-secondary-light: #888;
    --color-secondary-dark: #777;

    --font-primary: 'Ubuntu', sans-serif;
}




/*main page html begin*/

html {
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.header {
    padding: 0.75rem 0;
    text-align: center;
    overflow: hidden;
}

.header .logo,
.header1 .logo1 {
    margin-bottom: 0.75rem;
}

.logo img,
.logo1 img {
    max-width: 9em;
}

.skipLinks {
    position: absolute;
    padding: 4px;
    left: 50%;
    transform: translateY(-150%);
    list-style-type: none;
    background-color: var(--color-secondary);
    transition: transform 0.2s;
}

.skipLinks a {
    display: inline-block;
    color: #031A8C;
    font-weight: 500;
    text-decoration: none;
    z-index: 1000;
}



.skipLinks :focus {
    transform: translateY(0%);
}

.nav ul,
.nav1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li,
.nav1 li {
    margin-bottom: 0.75rem;
}

.nav a,
.nav1 a {
    text-decoration: none;
    color: var(--color-primary);
    transform: translateY(-2px);
}

.nav a:focus,
.nav1 a:focus,
.sub-footer a:focus {
    color: darkblue;
} 

.logo_1 {
    display: inline-block;
    max-width: 10rem;
    width: 100%;
}



.footer {
    
    text-align: center;
    color: #fff;
    background-color: #196b5b;
}

.footer .logo_1 {
    display: block;
    margin-bottom: 0.75rem;
    margin: 0 auto;
}

.footer a {
    color: #fff;
}

.footer img {
    max-width: 10em;
    margin-bottom: 1.25rem;
}

.footer .container {
    padding: 1.5rem;
}

.sub-footer {
    background-color: #134428;
}

.sub-footer ul{
    margin: 0;
    padding: 0;
    font-size: smaller;
    list-style-type: none;
}
.sub-footer li {
    display: inline-block;
}

.logoRow {
    padding: 3 1.5rem;
}

.logoRow ul {
    list-style-type: none;
    margin: 0;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    gap: 1.5rem;
}
.logoRow li {
    flex: 0 1 12.5;
}

.logoRow img {
    max-width: 100%;
}

.top {
    color: #fff;
    background-color: black;
    position: fixed;
    bottom: 0;
    padding: .5em;
    right: 5rem;
    border-radius: .75em .75em 0 0;
    text-align: center;
    text-decoration: none;
}



@media only screen and (min-width: 38em) {
    .header,
    .header1,
    .footer {
        text-align: left;
    }

    .header .container,
    .header1 .logo1,
    .footer .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .header nav,
    .header1 .nav1 {
        flex-grow: 1;
    }

    .header .logo,
    .header1 .logo1 {
        padding-right: 1.5rem;
    }
    .header img {
        padding-left: none;
    }
    .header img {
        padding-left: none;
    }

    .logo img,
    .logo1 img {
    max-width: 8em;
}

    .header ul,
    .header1 ul {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .header ul li,
    .header1 ul li {
        margin: 0;
    }

    .header .sign,
    .header1 .sign {
        margin-left: auto;
    }

    .footer .logo_1{
        margin: 0;
    }

    .logoRow .container {
        flex-direction: row;
        display: flex;
    }
    
    .logoRow ul {
        max-width: 100%;
        justify-content: space-evenly;
    }

    .form {
        max-width: 40rem;
    }
    
    .form .container-grid  {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer .svgContent {
        position: relative;
        width: 100%;
        margin-left: 150px;
    }
}

@media only screen and (min-width: 75em) {
    .logoRow .container {
        display: flex;
    }
    .logoRow ul {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.banner {
    background-size: cover;
    background-position: center;
    padding: 10rem 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    position: relative;
}

.banner h1,
.banner p,
.banner .btn,
.banner-action h2 {
    position: relative;
    z-index: 1;
    transform: translateX(-20rem);
    opacity: 0;
    animation: slideIntoSection 550ms .7s forwards;
}

.banner p {
    animation-delay: 1s;
}

.banner .btn {
    animation-delay: 1.25s;
}

.btn-outline {
    border: .125rem solid var(--color-primary);
    border-radius: 5rem;
    display: inline-block;
    padding: .35em 2em .45em;
    background-color: transparent;
    text-decoration: none;
    color: var(--color-primary);
    cursor: pointer;
}

@keyframes slideIntoSection {
    from {
        transform: translateX(-20rem);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.btn:hover,
.btn:focus,
.btn .btn-outline:hover,
.btn .bth-outline:focus { 
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    transform: translateY(-3px);
    color:#fff;
}

.banner-hero {
    background-image: 
        linear-gradient(to bottom, #00000099, #00000099),
        url(../image/banners/hero-home.jpg);
}
.banner_headline {
    text-transform: uppercase;
}



.banner-action {
    background-image: 
        linear-gradient(to bottom, #00000099, #00000099),
        url(../image/banners/soccer-banner-bw.jpg);
    padding: 5rem 1.5rem;
}

.btn-white {
    border: .125rem solid #fff;
    border-radius: 5rem;
    display: inline-block;
    padding: .35em 2em .45em;
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    transition: 
        color 0.2s
        background-color 0.2s;
}

.container {
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    padding: 0 1.5em;
}

.platform h2 {
    text-align:center;
    padding: 2.5rem 0;
    text-transform: uppercase;
}

.container-text {
    max-width: 100%;
    width: 70%;
    line-height: 1.3rem;
}

.platform img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

/*hierarchy begin*/
h1,
h2 {
    font-weight: 400;
}

h1,
.heading_1 {
    text-align: center;
    font-size: 1.802rem;
    text-transform: uppercase;
    color: teal;
    font-weight: normal;
}
h2,
.heading_2 {
    font-size: 1.602rem;
    font-weight: normal;
    font-weight: 100;
}
h3,
.heading_3 {
    font-weight: 100;
    font-size: 1.424rem;
}
h4,
.heading_4 {
    font-size: 1.266rem;
    font-weight: 100;
    text-transform: uppercase;
}
h5,
.heading_5 {
    color: #066051;
    font-size: 1.125rem;
    border-bottom: 1px solid #ddd;
}

h6,
.heading_6,
.underline {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
}


.underline { 
    text-decoration: underline;
    color: #09a38c;
}


@media only screen and (min-width:38em ) {
    h1 {
        font-size: 1.802rem;
    }
    h2 {
        font-size: 1.602rem;
    }
    h3 {
        font-size: 1.424rem;
    }
    h4 {
        font-size: 1.266rem;
    }
    h5 {
        font-size: 1.125rem;
    }
    h6 {
        font-size: 1rem;
    }
}

@media only screen and (min-width:60em) {
    h1 {
        font-size: 2.488rem;
    }
    h2 {
        font-size: 2.074rem;
    }
    h3 {
        font-size: 1.728rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.2rem;
    }
    h6 {
        font-size: 1.086rem;
    }
}

@media only screen and (min-width:90em) {
    h1 {
        font-size: 3.052rem;
    }
    h2 {
        font-size: 2.441rem;
    }
    h3 {
        font-size: 1.953rem;
    }
    h4 {
        font-size: 1.7rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1.075rem;
    }
}

/*platform.html begin*/

.header1 {
    background-color: #fff;
    padding: 0.75rem 0;
}

.header1 .container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/*.header1 .nav1 {
    position: fixed;
    top: 0;
    right: -66.666vw;
    width: 66.666vw;
    height: 100vw;
    background-color: cornsilk;
    box-shadow: -125rem 2.5rem 1.5rem #0005;
    transition: right .25s;
}
.header1 .nav1 .open {
    right: 0;
}
FAILURE*/ 

.header1 .nav1 ul {
    list-style-type: none;
    padding: 3rem 1rem;
    margin: 0;
    text-align: right;
    font-size: 1.5rem;

}

.banner-platform {
    background-image: 
        linear-gradient(to bottom, #00000099, #00000099),
        url(../image/banners/hero-platform.jpg);
    margin-bottom: 5rem;    
}

.build {
    gap: 1.5rem;
    padding-top: 1.5rem 0;
    align-items: center;
}

.build-text {
    grid-area: text;
}

.build-img {
    grid-area: image;
}
.build h1 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.8em;
    margin-bottom: 1rem;
    color: black;
}

.build h2 {
    font-weight: 600;
    font-size: 1.1em;
}

.build1,
.build2,
.build3,
.build4 {
    margin: 1.5rem auto;
    padding: 0 1.5em;
    max-width: 100%;
    width: 70%;
    display: grid;
    grid-template-areas: 
    'text'
    'image';
}

.build img {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 1rem;
}

@media only screen and (min-width: 45em) {
    .build1,
    .build3 {
        grid-template-areas: 
            'image text';
        grid-template-columns: 1fr 2fr;    
    }
    
    .build2,
    .build4 {
        grid-template-areas: 
            'text image';
        grid-template-columns: 2fr 1fr;      
    }
    .build-text {
        width: 50%;
        line-height: 1.5em;
    }
}

/*table.html begin*/

.afford {
    text-align: center;
    padding: 3rem;
    width: auto;
}

.afford h1 {
    text-transform: uppercase;
    font-size: 3rem;
    color: darkgreen;
}


.afford p {
    font-size: 2.2rem;
}

table {
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
}

thead {
    font-weight: bold;
    font-size: 1.5rem;
}

.tbody .trPrice th {
    padding: 4rem;
}

.tbody .trPrice td {
    padding: none;
}

.tbody th {
    padding: 2rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.tbody .trSignup th {
    padding-bottom: none;
}

.tbody td {
    text-align: center;
}

.tbody .trPrice td {
    font-weight: bold;
    font-size: 4rem;
}

.tbody .trPrice td sup {
    font-size: 2rem;
}

.tbody .tr-text th {
    padding: none;
}

.tbody td, tbody th {
    position: relative;
}


tr {
    border-bottom: 1px solid #ccc;
}

.trBasic,
.trSignup,
.trPrice {
    border-bottom: none;
}

.tbody .trUnder {
    background-color: #DEFDC3;
    color: var(--color-primary);
}




/*sign-up begin*/



.mainSign {
    padding: 1rem;
    background-image: 
        linear-gradient(to bottom, #00000099, #00000099),
        url(../image/banners/hockey-goalie.jpg);    
}

.form .trPrice .bTH,
.form .tr-text .bTH {
    color: #fff;
}

fieldset h2 {
    color: #09a38c;
}

.form {
    background: #fff;
    padding: 0rem;
    max-width: 25rem;
    border-radius: 40px;
    box-shadow:0 4px 10px 4px rgba(92, 99, 105, .2);
    margin: 0 auto;
    display: grid;
}

fieldset {
    display: contents;
}



.form .container {
    display: grid;
    grid-template-columns: 1fr;
}

.form .container .screen-reader-text {
    width: .1px;
    height: .1px;
    overflow: hidden;
    position: absolute;
}

input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 30px;
}

.svgContent svg {
    width: auto;
    max-width: 2.5rem;
    margin: 1rem;
}

svg .svgContent {
    display: flex;
}

svg path {
    fill: #fff;
        stroke: #fff;
        stroke-width: 1;
}

svg path:focus,
svg path:hover {
    fill: #000;
    stroke: #000;
    stroke-width: 1;
    transition-delay: 150ms;
}