    
$color-primary: #057E6C;
$color-primary-light: #09a38c;
$color-primary-dark: #196b5b;
$color-secondary: #bbb;
$color-secondary-light: #888;
$color-secondary-dark: #777;
$white: #fff;
$ddd: #ddd;
$color-black: #000;
$font-primary: 'Ubuntu', sans-serif;
$shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);


    